@model IEnumerable<niu.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Statistics";
}

<h2>Enrollment Statistics</h2>

<table id="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>