@model IEnumerable<niu.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Statistics";
}

<h2>Enrollment Statistics</h2>

@Html.Kendo().Grid(Model).Name("item").Columns(c =>
{
    c.Bound(p => p.EnrollmentDate);
    c.Bound(p => p.StudentCount);
}).Sortable().Pageable()

@*<table id="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>*@