@{
    ViewBag.Title = "NIU";
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Northern Illinois University</h1>
            </hgroup>
            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
        </div>
    </div>
    }
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae malesuada lectus. Cras id imperdiet nibh. Sed eget ipsum sed turpis posuere posuere. Nam id dapibus augue. Vestibulum ut augue turpis. Integer eu odio dignissim ex aliquet congue id quis mi. Suspendisse purus tortor, pulvinar ac lorem in, tempus finibus erat. Etiam lobortis dapibus tellus non lacinia. Morbi vestibulum ut lorem vel dignissim. Nullam lectus neque, rhoncus at tristique eu, dignissim condimentum est. Duis nec felis vitae leo maximus porttitor vestibulum facilisis nisl. Cras dignissim, sapien quis maximus lacinia, mi sapien condimentum lacus, a ornare dui orci a enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. In ut libero dignissim magna fermentum luctus. Aliquam ex eros, consectetur at libero vitae, ultrices mattis neque.</p>
    <p>Sed purus dolor, vestibulum malesuada auctor vel, pharetra ac ligula. Aliquam fringilla posuere vehicula. Vivamus eros nisi, aliquet et iaculis vel, placerat auctor sem. Phasellus semper sodales interdum. Duis cursus sem nunc. Phasellus molestie elit lacus, eu lacinia ante semper in. Nullam nec blandit ligula. Phasellus suscipit sit amet nulla a facilisis.</p>
    <p>
    Nam porttitor ac risus eget tincidunt. Sed laoreet massa sed velit rhoncus vehicula. Cras elementum, tortor eget aliquam pellentesque, mi lectus tristique est, cursus laoreet enim arcu sed urna. Vivamus condimentum pellentesque velit, ac feugiat dolor posuere at. Nunc sed lorem augue. Donec rutrum egestas dui, ornare rhoncus mi. Fusce lobortis, lorem eget pellentesque luctus, enim diam posuere lectus, quis blandit diam purus non ex. In hac habitasse platea dictumst. Sed efficitur, est non cursus cursus, ante quam mollis ante, ut dictum magna sapien in eros.
        </p> <p>
    Donec in felis id augue semper placerat ac eget turpis. In pellentesque tortor neque, sed vehicula eros ullamcorper vel. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tempus enim ac neque iaculis efficitur. Fusce facilisis fringilla nunc, luctus feugiat enim porttitor commodo. Ut mattis, urna non vehicula egestas, dui arcu suscipit neque, sit amet laoreet ligula nisi sit amet lacus. Duis convallis risus mauris, non accumsan mi placerat et. Nam interdum libero non augue lobortis, eget pellentesque purus viverra. Nam lacinia, lorem vitae interdum fermentum, neque neque malesuada erat, eget pulvinar sem libero at nunc. Pellentesque pulvinar ante massa, in viverra ex lacinia non. Integer mattis sapien id velit viverra aliquet. Phasellus et vestibulum sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer dolor metus, imperdiet eu augue sed, fringilla dignissim libero. Etiam tempus quam enim, a placerat urna imperdiet eu. Praesent efficitur ex ornare fringilla ullamcorper. </p>
</body>
@*<h3>Telerik UI for ASP.NET MVC PanelBar</h3>
<br />

@(Html.Kendo().PanelBar()
    .Name("IntroPanelBar")
    .Items(items =>
    {
        items.Add()
            .Text("Getting Started")
            .Selected(true)
            .Expanded(true)
            .Content(@<text>
                <p style="padding:0 1em">ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and that gives you full control over markup
                for enjoyable, agile development. ASP.NET MVC includes many features that enable
                fast, TDD-friendly development for creating sophisticated applications that use
                the latest web standards.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a></p>
            </text>);
        items.Add()
            .Text("Add NuGet packages and jump-start your coding")
            .Content(@<text>
                <p style="padding:0 1em">NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a></p>
            </text>);
        items.Add()
            .Text("Find Web Hosting")
            .Content(@<text>
                <p style="padding:0 1em">You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a></p>
            </text>);
    })
)*@
